* {
  font-family: Montserrat, sans-serif !important;
}

:root {
  --color-1: rgba(255, 255, 255, 0.87);
  --color-2: rgba(255, 255, 255, 0.57);
  --color-3: #FFFFFF;
  --color-4: #ECECEC;
  --color-5: #202D35;
  --color-6: #1E201F;
  --color-7: #161817;
  --color-8: #575757;
  --color-9: #00349A;
  --color-10: #18BEF0;
  --bg-color: #dfe6e9;
  --text-color: white;
}

/* Fixed class name */
.section-spacing {
  margin-bottom: 2rem;
}

body {
    background-color: #161817 !important;
}
/* Navbar 

/* Navbar styles */
.nav__bar {
  position: relative;
  z-index: 1;
  padding: 0%;
  margin-bottom: 0%;
}

.navbar__toggler {
  padding: 0px 5px;
}

.navbar__toggler__svg {
  color:#ffffff;
}

.navbar__toggler:focus {
  box-shadow: none !important;
}

.navbar-bg-black {
  background-color: rgba(21, 20, 20, 0.98);
  width: 100%;
}

.fade-up {
  animation: 0.5s ease 0s 1 normal forwards running fadeUp;
  opacity: 0;
  transform: translateY(20px);
}

@keyframes fadeUp {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/*nav header styles*/
.nav__item a {
  list-style: none;
  color: rgba(255, 255, 255, 0.57) ;
  font-size: 14px;
  letter-spacing: 0.2em;
}

.nav__item a:hover {
  color:  #18BEF0;
}

.nav__item a:active {
  color: rgba(255, 255, 255, 0.57)!important;
}

.nav__item__border {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* Fixed huge font size issue */

.nav__link::after {
  display: block;
  content: "";
  border-bottom: solid 2px #18BEF0;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}

.nav__link:hover::after {
  transform: scaleX(1);
}

/* Removed absolute position */
.header__button {
  border-radius: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background-color: #18BEF0!important;
  color: #00349A!important;
}

.header__button:hover {
  transition: 0.3s;
  background: #00349A!important;
  color: #FFFFFF!important;
}

.btnSearch {
  background-color: #18BEF0;
  color: rgb(255, 255, 255);
  margin-top: 1.8rem !important;
}

.Icons {
  height: 70px !important;
}

.Icons img {
  width: 50px !important;
}

/* banners with different images*/
.banner__1 {
    margin-top: 1%;
  position: relative;
  z-index: 1;
}
/*logo styles*/
.main__logo img {
  width: 170px;
  height: 30vh;
  margin-top:90px;
}

.banner__1__content h6 {
  font-size: 15px;
  font-weight: 400;
  line-height: 0.5em;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.57);;
  position: relative;
  z-index: 1;
}

.banner__1__content h1 {
  font-weight: 120;
  font-size: 30px;
  line-height: 40px;
  background: radial-gradient(circle at center bottom, rgb(24, 190, 240) 36%, rgb(0, 52, 154) 56%, rgb(75, 171, 209) 76%) text;
  -webkit-text-fill-color: transparent;
}
.banner__button {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.05em;
  background-color: #18BEF0;
  padding: 15px 28px;
  border-radius:20px;
  transition: 0.3s ease-in-out;
  position: relative;
  z-index: 1;
}

.banner__button:hover {
  color: rgba(255, 255, 255, 0.87);
  background-color: #00349A !important;
  border: 1px solid #00349A !important;
}

.carousel__img {
  border-radius: 20px;
  object-fit: cover;
  height: 750px !important;
}

.carousel-inner {
  position: relative;
  width: 100%;
  border-radius: 20px;
  box-shadow: rgb(55, 85, 89) -1px 1px 22px;
}
/* Search Container */

.search__container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
    margin-top: -10rem;
    margin: 0%;
}

.search__input {
    width: 50%;
    height: 30px;
    padding: 30px 50px;
    border: 1px solid  #FFFFFF;
    opacity: 0.8;
    background-color: #161817;
    border-radius: 20px 0px 0px 20px;
}

.search__input::placeholder {
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.87);;
}

.location__input {
    width: 51%;
    height: 30px;
    padding: 30px 87px;
    border: 1px solid #FFFFFF;
    background-color: #161817;
    opacity: 0.8;
    border-radius: 0px 20px 20px 0px;
    margin-right: 23px;
    position: relative;
}

.location__input::placeholder {
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.87);
}

.location__icon {
    position: absolute;
    left: 53%;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.87);
    z-index: 1;
}

.location__icon i {
    color:#161817!important;
}

/* Search Button */
.search__button {
    margin-left: 0%;
    color: #00349A;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    background: #18BEF0;
    border-radius: 30px;
    transition: 0.3s ease-in-out;
    margin-left: 1rem; /* Visually separates button from input */
}

.search__button:hover {
    color: rgba(255, 255, 255, 0.87);
    background: #00349A;
}

.search__input, .location__input {
    color:  #FFFFFF;
}

.fa-solid, .fas {
    font-weight: 900 !important;
}

.fa-classic, .fa-regular, .fa-solid, .far, .fas {
    font-family: "Font Awesome 6 Free" !important;
}

/* Feature Cart */
.feature_cat_main {
    position: relative;
}
/* back/forward button on crats */
.back_forword_btn {
  display: flex;
  justify-content: end;
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 100%;
}

/* Heading Of carts*/
.feature_cat_title {
    font-weight: 500;
    font-size: 50px;
    line-height: 90px;
    color: var(--color-10);
}
/* Feature Category Text */
.feature_cat_text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2em;
    color: #FFFFFF;
}

.feature_card {
    border-radius: 10px;
    position: relative;
    height: 390px;
    width: 100%;
}

.feature_card::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.feature_card:hover::before {
    background-color: rgba(1, 105, 179, 0.48);
}

/* Icon on feature crard*/
.category__icon {
    width: 62px;
    height: 100%;
    border-radius: 50%;
    display: flex;
    position: relative;
}

.category__icon img {
    width: 20%;
    position: relative;
    z-index: 100;
}

.category__icon::before {
    content: "";
    background-color: rgb(24, 190, 240);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    position: absolute;
    top: -16px;
    left: -22px;
    z-index: 0;
}

.card_text {
    display: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.card_text:hover {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}
/* clickable card */
a_tag a {
    text-decoration: none;
    color: var(--color-1);
    cursor: pointer;
}

.a_tag a:hover {
    background-color: var(--color-10);
    color: var(--color-1);
    transition: 0.3s;
}

.gallery_card {
    background-color: #ECECEC;;
    border-radius: 10px;
}

.gallery_card1 {
    background-color: var(--color-6);
    border-radius: 10px;
    padding: 25px;
    box-shadow: rgb(55, 85, 89) -1px 1px 12px;
    text-decoration: none;
    height: 320px;
}

@keyframes hoverAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.gallery_card1:hover {
    background-color: var(--color-5);
    padding: 0px 0px 25px;
    box-shadow: 0 0 2px var(--color-9), 0 0 10px var(--color-9), 
                0 0 5px var(--color-9), 0 0 5px var(--color-9), 
                0 0 5px var(--color-9), 0 0 5px var(--color-9);
    animation: hoverAnimation 0.7s ease 0s infinite alternate;
}

.gallery_img {
    width: 100%;
    height: 250px !important;
    border-radius: 10px;
    box-sizing: border-box;
}

.gallery_img img {
    width: 100% !important;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    box-sizing: border-box;
}

.gallery_text {
    font-weight: 400;
    font-size: 20px;
    color: var(--color-3);
    letter-spacing: 0.05em;
    margin-bottom: 0 !important;
}

.view_all_btn {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.1em;
    padding: 15px 30px;
    background: var(--color-10);
    color: var(--color-9);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.view_all_btn:hover {
    color: var(--color-3);
    background: var(--color-9) !important;
}

/* Marketplace Card */
.marketplace__card {
    height: 230px;
    background: var(--color-6);
    cursor: pointer;
    border-radius: 15px;
    position: relative;
    padding: 50px 30px;
    color: var(--color-10);
    box-shadow: rgb(55, 85, 89) -1px 1px 12px;
}

.marketplace__card::after {
    content: "";
    background: var(--color-10);
    border-radius: 15px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
    clip-path: circle(10% at 0% 0%);
    transition: 0.3s ease-in;
}

.content {
    position: relative;
    z-index: 1;
    transition: 0.3s ease-in;
}

.content h1 {
    font-size: 28px;
}

.marketplace__card:hover::after {
    clip-path: circle(100%);
}

.marketplace__card:hover .content {
    color: var(--text-color);
}

.cleaning__care {
    position: relative;
    margin-top: 10rem;
}

.cleaning__care .cleaning__care__div__1 {
    background-image: url("../images/cleaning-care/clean4.jpg");
    height: 70vh;
    width: 64%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    position: relative;
}

.cleaning__care .cleaning__care__div__1::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 118, 158, 0.76);
    z-index: 1;
}

.echosideimage {
    background-image: linear-gradient(rgba(25, 30, 31, 0.9), rgba(32, 39, 41, 0.7)), url("../images/cleaning-care/clean4.jpg");
    height: 100vh;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: rgb(55, 85, 89) -1px 1px 12px;
    color: black !important;
}

@media (max-width: 768px) {
    .get_in_title {
        text-align: center;
    }

    .echosideimage {
        height: 100%;
    }
}

.sidebarimage {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.egosideimage {
    background-image: url("../images/cleaning-care//clean5.jpeg");
    height: 100%;
    width: 100% !important;
    object-fit: contain !important;
}

.cleaning__care .cleaning__care__div__2 {
    background-image: url("../images/cleaning-care/clean5.jpeg");
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 55%;
    height: 80vh;
    z-index: -2;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.cleaning__care__div__1__content {
    margin-top: -95rem;
    color: var(--color-4);
}

.cleaning_maincontant {
    color: var(--color-4);
}

.cleaning__care__div__1__content a {
    color: var(--color-4);
    text-decoration: none;
}

.available_div {
    background-color: var(--color-10);
    width: 55%;
    padding: 20px;
    box-shadow: rgb(55, 85, 89) -1px 1px 12px;
    margin-top: 30px !important;
}

.available_div {
    display: flex;
}

.available_div_img {
    width: 30%;
}

.available_div_img img {
    width: 100%;
}

.available_div_content {
    margin-top: 7px;
}

.sectionClass {
    position: relative;
    display: block;
    background-color: black;
    margin-top: -9rem;
    box-shadow: rgb(55, 85, 89) -1px 1px 12px;
}

.fullWidth {
    display: table;
    float: none;
    padding: 0px;
    min-height: 1px;
    height: 100%;
    position: relative;
    width: 100% !important;
}

.sectiontitle {
    background-position: center center;
    margin: 30px 0px 0px;
    text-align: center;
    min-height: 20px;
}

.sectiontitle h2 {
    font-size: 30px;
    color: rgb(34, 34, 34);
    margin-bottom: 0px;
    padding-right: 10px;
    padding-left: 10px;
}

.headerLine {
    width: 160px;
    height: 2px;
    display: inline-block;
    background: rgb(16, 31, 46);
}

.projectFactsWrap {
    display: flex;
    margin-top: 30px;
    flex-flow: wrap;
}

#projectFacts .fullWidth {
    padding: 0px;
}

.projectFactsWrap .item {
    padding: 50px 0px;
    text-align: center;
}

.projectFactsWrap .item p.number {
    font-size: 40px;
    padding: 0px;
    font-weight: bold;
    color: rgb(24, 190, 238) !important;
}

.projectFactsWrap .item p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    margin: 0px;
    padding: 10px;
}

.projectFactsWrap .item span {
    width: 60px;
    background: rgba(255, 255, 255, 0.8);
    height: 2px;
    display: block;
    margin: 0px auto;
}

.projectFactsWrap .item i {
    vertical-align: middle;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.8);
}

.projectFactsWrap .item:hover i, .projectFactsWrap .item:hover p {
    color: white;
}

.projectFactsWrap .item:hover span {
    background: white;
}

.parallax-1 {
    height: 25vh;
    background: url("../images/retuest-a-quote/quotebgd.png") 70% center / cover repeat fixed;
    color: aliceblue;
    position: relative;
}

.parallax-inner {
    padding-top: 20%;
    padding-bottom: 20%;
}

.request__content {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 1;
}

.request_free_text {
    
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.25em;
    color: var(--color-1);
}

.free_quote_btn {
    background: var(--color-10);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    color: var(--color-7);
    border-radius: 10px;
    padding: 10px 40px;
    border: none;
    transition: 0.3s ease-in-out;
}

.free_quote_btn:hover {
color: var(--color-1);
    background: var(--color-9);
}

.contant_us_main {
    position: relative;
}

.contact__bg__img {
    background-image: url("../images/background-img/featured_bg_img3.png");
    background-repeat: no-repeat;
    background-position: left center;
    object-fit: cover;
    background-size: contain;
    position: absolute;
    width: 220px;
    height: 100%;
    z-index: -1;
    top: -180px;
    right: 0px;
    animation: 7s ease 0s infinite normal none running vipAnimation;
}

@keyframes vipAnimation {
    0%, 100% {
        transform: translateY(0px);
    }

    25%, 75% {
        transform: translateY(-15px);
    }

    50% {
        transform: translateY(-30px);
    }
}

.get_in_title {
    color: var(--color-3);
    font-weight: 400;
    font-size: 20px;
    line-height: 40px !important;
}

.get_in_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    letter-spacing: 0.05em;
    color: var(--color-2);
    text-align: justify;
}

.communicat_with_us {
    display: flex;
}

.communicat_with_us a {
    text-decoration: none;
    color: var(--color-3);
    background-color: var(--color-10);
    cursor: pointer;
    height: 110px;
}

.communicat_with_us a:hover {
    background: var(--color-9);
    color: var(--color-1);
    transition: 0.3s;
}

.icon_styling {
    width: 20%;
}

.icon_styling img {
    width: 40px;
}

.contact_us_card {
    background: var(--color-6);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.contact_card_title {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.Contact_card_text {
    font-weight: 400;
    font-size: 10px;
    line-height: 22px;
}

.aImg {
    border-radius: 10px;
}

.footer__col h6 {
    color: var(--color-1);
    font-weight: 400;
    font-size: 20px;
}

.footer__col p {
    color: var(--color-1);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.footer__col a {
    text-decoration: none;
}

.website__logo img {
    width: 30%;
}

.footer__col__img {
    width: 100%;
}

.footer__col__img img {
    width: 100%;
}

.footer__button {
    background: var(--color-10);
    border-radius: 10px;
    color: var(--color-9);
    font-weight: 400;
    font-size: 14px;
    transition: 0.3s ease-in-out;
}

.footer__col .footer__button:hover {
    background: var(--color-9) !important;
    color: var(--color-3) !important;
}

.website__logo:hover {
    background: none !important;
}

.footer__col3 ul li a {
    text-decoration: none;
    color: var(--color-1);
    transition: 0.2s ease-in-out;
}

.footer__col3 ul li a:hover {
    color: var(--color-10) !important;
    background: none !important;
}

.footer__col3 ul li {
    list-style-type: none;
}

.footer__col3 li:not(:last-child) {
    padding-bottom: 0.5rem !important;
}

.footer__col3 ul {
    padding-left: 0px;
}

.footer__col3 h6 {
    color: var(--color-1);
    font-weight: 400;
    font-size: 20px;
}

.footer__social {
    display: flex;
    gap: 1rem;
}

.footer__social i {
    color: var(--color-1);
    font-size: 20px;
    transition: 0.2s ease-in-out;
}

.footer__social i:hover {
    color: var(--color-10);
}

.footer__row__2 ul {
    display: flex;
    padding-left: 0px;
    gap: 1rem;
}

.footer__row__2 ul li {
    list-style-type: none;
}

.footer__row__2 ul li a {
    text-decoration: none;
    color: var(--color-2);
}

.footer__row__2 {
    color: var(--color-2);
    display: flex;
    justify-content: center;
}

.fa-brands, .fab {
    font-family: "Font Awesome 6 Brands" !important;
}

hr {
    color: var(--color-2);
}

.navbar-bg-black {
    background-color: rgba(21, 20, 20, 0.98);
}

.fade-up {
    animation: 0.5s ease 0s 1 normal forwards running fadeUp;
    opacity: 0;
    transform: translateY(20px);
}

@keyframes fadeUp {
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.bg-image-mn {
    background-image: url("../images/blog-images/blog-img.jpg");
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}

.bg-image-mn::before {
    content: "";
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: var(--color-3);
}

.bg-image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-image-text h1 {
    font-size: 3rem;
    font-weight: 400;
    color: var(--text-color);
}

.bg-image-text p {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}

.bread-text a {
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-10);
}

.bread-text li {
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-8);
}

.blog-btn button {
    cursor: pointer;
    background-color: var(--color-10);
    color: rgb(33, 37, 41);
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0px;
}

.blog-btn button :hover {
    border-color: var(--color-10) !important;
}

.card-mn {
    height: 100%;
    background: var(--color-7);
    box-shadow: rgb(55, 85, 89) -1px 1px 12px;
}

.child-row {
    background-color: var(--color-7);
}

.card-body-text {
    background: var(--color-6);
}

.card-body-text h5 {
    font-size: 20px;
    color: var(--color-3) !important;
}

.card-body-text p {
    color: var(--color-4);
    font-size: 1rem;
}

.card-body-text small {
    font-size: 14px;
    color: var(--color-8);
}

.card-mn1 {
    box-shadow: none;
}

.card-text-mn a {
    color: var(--color-10);
    text-decoration: none !important;
}

.article-mn {
    margin-inline-start: auto !important; height: 30%;
}

.list-tag a button {
    padding-inline-start: 0px; list-style-type: none;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    color: var(--color-6);
    font-weight: 400;
    font-size: 1rem;
    background-color: var(--color-10) !important;
}

.card-body-text h3 {
    color: var(--color-3);
}

.bg-image-mn-1 {
    background-image: url("../images/aboutus/aboutbg.jpeg");
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}

.bg-image-mn-1::before {
    content: "";
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: var(--color-3);
}

.ficon {
    color: rgb(255, 255, 255);
    font-size: 50px;
}

.aboutText {
    font-weight: 400;
    font-size: 40px;
    line-height: 69px;
    margin: auto;
    text-align: center;
    letter-spacing: 0.1em;
    position: relative;
    z-index: 2;
    color: white;
}

.cont-us-para {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.add-text-head-A {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.about-para-Text {
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.1em;
    position: relative;
    z-index: 2;
    color: white;
}

.fos1 {
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    letter-spacing: 0.1em;
    color: var(--color-2);
    text-align: justify;
}

.bg1 {
    background-color: var(--color-6);
    margin-top: -8px;
}

.bg3 {
    background-color: var(--color-6);
    margin-top: -16px;
}

.fos2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: var(--color-1);
}

.aImg {
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.aImg img {
    border-radius: 10px;
    width: 80%;
    height: 450px;
    object-fit: cover;
}

.bg2 {
    background-color: var(--color-7);
    margin-top: -8px;
}

.fos3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.1em;
    color: var(--color-2);
}

.fos4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: var(--color-1);
}

.fos5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--color-2);
}

.bgImage {
    background: url("../images/aboutus/quoteImg.png") 0% 0% / cover;
    height: 400px;
    display: flex;
}

.bg-image-mn-2 {
    background-image: url("../images/contactus/contactbg.png");
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}

.fos8 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-1);
}

.gCard {
    background: var(--color-3);
    border-radius: 10px;
    width: 279px;
    height: 104px;
}

.fos9 {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--color-1);
}

.paara {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    white-space: nowrap;
    color: var(--color-1);
}

.fos10 {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--color-1);
}

.fos11 {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: var(--color-1);
}

.cInput {
    background: var(--color-6);
    border-radius: 10px;
    border: none;
}

.cInput:focus {
    outline: 0px;
    box-shadow: none;
    border: 1px solid var(--color-4) !important;
}

.subBtn {
    background: var(--color-10);
    border-radius: 10px;
    color: var(--color-3);
    font-weight: 400;
}

.subBtn:hover {
    background: var(--color-9);
    color: var(--color-1);
    transition: 0.3s;
}

.get_in_title {
    font-weight: 400;
    font-size: 30px;
    line-height: 24px;
    color: var(--color-4);
}

.get_in_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 37px;
    letter-spacing: 0.05em;
    color: var(--color-2);
}

.card___card {
    background: var(--color-3);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 15px;
    height: 110px;
}

.card___inner a {
    text-decoration: none;
    color: var(--color-6);
    cursor: pointer;
}

.card___inner {
    display: flex;
}

.icon_styling {
    width: 20%;
}

.icon_styling img {
    width: 40px;
}

.contact_card_title {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.freq-ask-Q-A a {
    background: none;
    text-decoration: none;
    color: rgb(236, 236, 236);
}

.freq-txt-A {
    color: var(--color-1);
}

.acoordian-item-A {
    border: none;
    color: var(--color-8);
}

.accordion-button::after {
    background-image: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
}

.accordion-button {
    background-color: var(--color-10);
}

.accordion-button:focus {
    background-color: var(--color-10);
    color: var(--color-7);
    z-index: 3;
    outline: 0px;
    box-shadow: none;
}

.accordion-body {
    background-color: var(--color-6);
    color: var(--color-4);
}

.accordion-item {
    border: none;
}

.bg-image-mn-3 {
    background-image: url("../images/category/servicebg.jpeg");
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}

.bg-image-mn-3::before {
    content: "";
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: var(--color-3);
}

.form-check-input {
    border: none;
}

.focus_none:focus {
    border-color: rgb(134, 183, 254);
    outline: 0px;
    box-shadow: none !important;
}

.focus_none filter_category_div {
    outline: 0px;
    border: none !important;
}

a_tag a {
    text-decoration: none;
    color: var(--color-1);
    cursor: pointer;
}

.a_tag a:hover {
    background-color: var(--color-10);
    color: var(--color-1);
    transition: 0.3s;
}

.gallery_card {
    background-color: var(--color-4);
    border-radius: 10px;
}

.gallery_card1 {
    background-color: var(--color-6);
    border-radius: 10px;
    padding: 25px;
    box-shadow: rgb(55, 85, 89) -1px 1px 12px;
    text-decoration: none;
    height: 320px;
}

@keyframes hoverAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}


.gallery_card1:hover {
    background-color: var(--color-5);
    border-radius: 10px;
    padding: 0px 0px 25px;
    box-shadow: 0 0 2px var(--color-9), 0 0 10px var(--color-9), 0 0 5px var(--color-9), 0 0 5px var(--color-9), 0 0 5px var(--color-9), 0 0 5px var(--color-9);
    animation: 0.7s ease 0s infinite alternate none running blink;
}

.gallery_img {
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    height: 250px !important;
}

.gallery_img img {
    height: 100%;
    border-radius: 10px;
    background-size: cover;
    object-fit: cover;
    box-sizing: border-box;
    width: 100% !important;
}

.gallery_text {
    font-weight: 400;
    font-size: 18px;
    color: var(--color-3);
    letter-spacing: 0.05em;
    margin-bottom: 0px !important;
}

.view_all_btn {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.1em;
    padding: 15px 30px;
    background: var(--color-10);
    color: var(--color-9);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.view_all_btn:hover {
    color: var(--color-3);
    background: var(--color-9) !important;
}

.background {
    border: 1px solid var(--color-6);
    border-radius: 8px;
}

.filter button {
    width: 15rem;
    text-align: end;
    background-color: var(--bg-color);
}

.cities button {
    width: 15rem;
    text-align: end;
    background-color: var(--bg-color);
}

.newest button {
    width: 15rem;
    text-align: end;
    background-color: var(--bg-color);
}

.cities ul {
    width: 18%;
}

.newest ul {
    width: 18%;
}

.filter ul {
    width: 18%;
}

.home a {
    text-decoration: none;
    outline: none;
}

.checks {
    font-size: 16px;
}

.reset {
    display: flex;
    justify-content: end;
    align-items: end;
}

.bg-image-mn-4 {
    background-image: url("../images/JoinOurTeam/1122.jpg");
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}

.bg-image-mn-4::before {
    content: "";
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: var(--color-3);
}

.viewJob {
    background: var(--color-10);
    border-radius: 10px;
    color: rgb(255, 255, 255) !important;
}

.viewJob:hover {
    color: var(--color-1);
    transition: 0.3s;
    background: var(--color-9) !important;
}

.Team_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.bg1 {
    background-color: var(--color-6);
    margin-top: -8px;
}

.fos1 {
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    letter-spacing: 0.1em;
    color: var(--color-2);
}

.fos2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: var(--color-1);
}

.p__imgg {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
}

.p__imgg img {
    width: 100%;
    object-fit: cover;
    background-size: cover;
}

.bg2 {
    background-color: var(--color-7);
    margin-top: -8px;
}

.fos3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.1em;
    color: var(--color-2);
}

.fos4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: var(--color-1);
}

.fos5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--color-2);
}

.bg3 {
    background-color: var(--color-6);
    margin-top: -16px;
}

.viewJob:hover {
    color: var(--color-1);
    transition: 0.3s;
    background: var(--color-9) !important;
}

.aImg {
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.aImg img {
    border-radius: 10px;
    width: 80%;
    object-fit: cover;
}

.bgImage {
    background: url("../images/JoinOurTeam/quoteImg.png") 0% 0% / cover;
    height: 400px;
    display: flex;
}

.free__quote__section {
    margin: auto;
}

.fos6 {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.25em;
    color: var(--color-1);
}

.quoteBtn {
    background: var(--color-3);
    border-radius: 10px;
    color: black !important;
}

.quoteBtn:hover {
    background: var(--color-9);
    color: var(--color-1);
    transition: 0.3s;
}

.jobText {
    font-weight: 400;
    line-height: 69px;
    z-index: 1;
    letter-spacing: 0.1em;
    color: var(--color-1);
    font-size: 40px !important;
}

.heroSection::before {

    position: absolute;
    top: -8px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: 1;
}

.bg-image-mn-5 {
    background-image: url("../images/Get-a-Qoute/Group 70.png");
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}

.bg-image-mn-5::before {
    content: "";
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: var(--color-3);
}

.section__heading h3 {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    color: var(--color-1);
}

.section__heading p {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: var(--color-1);
}

.form__check {
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: var(--color-11);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-2);
}

.form__check__11 {
    border-width: 1px 1px 0px;
    border-style: solid;
    border-color: var(--color-11);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-2);
}

.form__check__12 {
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: var(--color-11);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-2);
}

.form__check__14 {
    border-width: 0px 0px 1px 1px;
    border-style: solid;
    border-color: var(--color-11);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-2);
}

.form__check__15 {
    border-width: 0px 1px 1px;
    border-style: solid;
    border-color: var(--color-11);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-2);
}

.form__check__13 {
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-11);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-2);
}

.form__check__input[type="checkbox"] {
    border-radius: 0px !important;
}

.form__check__input:focus {
    border-color: var(--color-3);
    outline: 0px;
    box-shadow: none;
}

.form__check__input:checked {
    background-color: var(--color-3);
    border-color: var(--color-3);
}

.form__check__input {
    background-color: var(--color-4);
    border: 1.5px solid var(--color-2);
}

.form-check-input:checked[type="checkbox"] {
    background-image: url("../images/Get-a-Qoute/check.png");
}

.section__heading__2 h3 {
    font-weight: 400;
    font-size: 20px;
    color: var(--color-1);
}

.section__heading__2 span {
    font-weight: 400;
    font-size: 20px;
    color: var(--color-12) !important;
}

.form___select {
    font-weight: 400;
    font-size: 16px;
    color: var(--color-1);

    border-radius: 10px;
    border: none;
    padding: 20px;
    background-image: url("/images/down-arrow.png");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
}

.form___select:focus {
    border: 1px solid var(--color-7);
    outline: 0px;
    box-shadow: none;
}

.form___control {
    display: block;
    width: 100%;
    padding: 20px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-2);
    background-color: var(--color-6);
    border: none;
    border-radius: 0.25rem;
}

.form-control:focus {
    color: var(--color-6);
    background-color: var(--color-3);
    border: 1px solid var(--color-4);
    outline: 0px;
    box-shadow: none;
}

.section__heading__3 {
    font-weight: 400;
    font-size: 30px;
    color: var(--color-1);
}

.form___select {
    font-weight: 400;
    font-size: 16px;
    color: var(--color-2);
 
    border-radius: 10px;
    border: none;
    padding: 20px;
    background-image: url("../images/down-arrow.png");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
}

.form__button {
    display: flex;
    justify-content: end;
    gap: 30px;
}

.form__btn__1 {
    background: var(--color-10);
    border-radius: 10px;
    padding: 10px 30px;
    border-color: var(--color-10);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: var(--color-2);
}

.form__btn__1:hover {
    background: var(--color-9);
    border-color: var(--color-10);
    color: var(--color-2);
}

.form__btn__2 {
    background: var(--color-9);
    border-radius: 10px;
    padding: 10px 25px;
    border-color: var(--color-9);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: var(--color-2);
}

.form__btn__2:hover {
    background: var(--color-10);
    color: var(--color-3);
    border: 1px solid var(--color-9) !important;
}

.bgservice {
    background-color: rgb(24, 190, 238);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    width: fit-content !important;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: rgb(255, 255, 255);
    background-color: rgb(24, 190, 238);
    border-color: rgb(24, 190, 238);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    border-color: rgb(24, 190, 238);
    color: rgb(255, 255, 255);
}

.tabCard {
    background-color: var(--color-6);
    border-radius: 10px;
    padding: 25px;
    box-shadow: rgb(55, 85, 89) -1px 1px 12px;
    text-decoration: none;
}

.btnQuote {
    background-color: rgb(24, 190, 238);
    color: rgb(255, 255, 255);
}

.available_div_content p {
    font-size: 20px;
}

.available_div_content a {
    font-size: 18px;
}

.aboutcontent {
    padding-left: 40px;
}

.ourvissionsetting {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

